.additional-goods {
  padding: 0 20px;
}

.additional-goods__title {
  font-size: 24px;
  line-height: 24px;
  font-weight: normal;
  padding-bottom: 35px;
  margin: 0;
  margin-bottom: 15px;
}

.additional-goods__list {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-bottom: 40px;
}

.additional-goods__item {
  border-bottom: 1px solid #cdcdcd;
  padding: 15px 0;

  &:first-child {
    border-top: 1px solid #cdcdcd;
  }
}

.additional-goods__link {
  font-size: 16px;
  line-height: 16px;
  text-decoration: none;
  text-transform: uppercase;
  color: #222222;
}

.additional-goods__parameter {
  font-family: Arial;
  font-size: 14px;
  line-height: 14px;
  color: #444444;
  display: flex;
  margin: 0;
}

.additional-goods__button {
  display: block;
  text-align: center;
}

.additional-goods__gift {
  background-image: url(../../img/gift-photo-mobile@1x.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 289px;
  padding-bottom: 45px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.additional-goods__text {
  font-family: Arial;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  text-align: center;
  width: 165px;
  margin: 0;
}

@media (min-width: $tablet-width) {
  .additional-goods {
    padding: 0 30px;
  }

  .additional-goods__title {
    font-size: 36px;
    line-height: 36px;
  }

  .additional-goods__list {
    border: 1px solid #cdcdcd;
  }

  .additional-goods__item {
    padding: 30px 40px;
    margin: 0;

    &:first-child {
      border-top: none;
    }

    &:last-child {
      border-bottom: none;
    }
  }

  .additional-goods__link {
    font-size: 20px;
    line-height: 20px;
  }

  .additional-goods__parameter {
    font-size: 16px;
    line-height: 20px;
  }

  .additional-goods__gift {
    background-image: url(../../img/gift-photo-tablet@1x.jpg);
    min-height: 200px;
    padding: 0;
    align-items: center;
    justify-content: flex-end;
    padding-right: 125px;
    padding-left: 80px;
  }

  .additional-goods__text {
    text-align: left;
  }
}

@media (min-width: $desktop-width) {
  .additional-goods {
    @include page-wrapper;
  }

  .additional-goods__title {}

  .additional-goods__box {
    display: flex;
  }

  .additional-goods__list {
    border: none;
    width: 896px;
    margin: 0;
  }

  .additional-goods__item {
    display: flex;

    &:first-child {
      border-top: 1px solid #cdcdcd;
    }

    &:last-child {
      border-bottom: 1px solid #cdcdcd;
    }
  }

  .additional-goods__link {}

  .additional-goods__parameter {}

  .additional-goods__volume {}

  .additional-goods__price {}

  .additional-goods__button {
    display: inline-block;
  }

  .button {}

  .additional-goods__inner {}

  .additional-goods__gift {
    width: 245px;
    height: 289px;
    background-image: url(../../img/gift-photo-desktop@1x.jpg);
    padding: 0;
    padding-bottom: 40px;
    margin-left: auto;
    justify-content: center;
    align-items: flex-end;
  }

  .additional-goods__text {
    text-align: center;
  }
}
