.additional-goods {
  padding: 0 20px;
  padding-bottom: 35px;
}

.additional-goods__title {
  font-size: 24px;
  line-height: 24px;
  font-weight: normal;
  background-color: #ffffff;
  padding: 0;
  padding-right: 20px;
  margin: 0;
  margin-bottom: 33px;
  display: inline-block;
}

.additional-goods__list {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-bottom: 39px;
}

.additional-goods__item {
  border-bottom: 1px solid #cdcdcd;
  padding: 13px 0;
  padding-bottom: 17px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;

  &:first-child {
    border-top: 1px solid #cdcdcd;
  }
}

.additional-goods__link {
  font-size: 16px;
  line-height: 16px;
  text-decoration: none;
  text-transform: uppercase;
  color: #222222;
  margin-bottom: 15px;
}

.additional-goods__parameter {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 14px;
  color: #444444;
  display: flex;
  margin: 0;
  margin-bottom: 14px;
}

.additional-goods__volume {
  margin-right: auto;
}

.additional-goods__button {
  display: block;
  text-align: center;
  letter-spacing: 1px;
}

.additional-goods__gift {
  background-image: url("../../img/gift-photo-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 182px;
  padding-top: 64px;
  padding-bottom: 42px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  @media (min-resolution: 2dppx) {
    background-image: url("../../img/gift-photo-mobile@2x.jpg");
  }

  &::before {
    content: "";
    width: 60px;
    height: 80px;
    background-image: url("../../img/icon-gift.svg");
    background-repeat: no-repeat;
    background-size: 58px 60px;
    display: block;
  }
}

.additional-goods__text {
  font-family: "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  text-align: center;
  width: 165px;
  margin: 0;
}

@media (min-width: $tablet-width) {
  .additional-goods {
    padding: 0 30px;
  }

  .additional-goods__title {
    font-size: 36px;
    line-height: 36px;
    padding: 0 37px;
    margin-bottom: 79px;
    background-color: #ffffff;
    display: inline-block;
  }

  .additional-goods__list {
    border: 1px solid #cdcdcd;
    margin-bottom: 70px;
  }

  .additional-goods__item {
    padding: 26px 38px;
    margin: 0;

    &:first-child {
      border-top: none;
    }

    &:last-child {
      border-bottom: none;
    }
  }

  .additional-goods__inner {
    display: flex;
    align-items: baseline;
    margin-bottom: 22px;
  }

  .additional-goods__link {
    font-size: 20px;
    line-height: 20px;
    margin: 0;
    margin-right: auto;
  }

  .additional-goods__parameter {
    font-size: 16px;
    line-height: 20px;
    margin: 0;
  }

  .additional-goods__price {
    margin: 0;
    margin-left: 50px;
  }

  .additional-goods__gift {
    background-image: url("../../img/gift-photo-tablet@1x.jpg");
    min-height: 200px;
    align-items: center;
    flex-direction: inherit;
    justify-content: space-between;
    padding: 0 120px 0 89px;

    @media (min-resolution: 2dppx) {
      background-image: url("../../img/gift-photo-tablet@2x.jpg");
    }
  }

  .additional-goods__text {
    text-align: left;
  }
}

@media (min-width: $desktop-width) {
  .additional-goods {
    @include page-wrapper;
  }

  .additional-goods__title {
    margin-left: -37px;
  }

  .additional-goods__box {
    display: flex;
  }

  .additional-goods__list {
    border: none;
    width: 896px;
    margin: 0;
  }

  .additional-goods__item {
    display: flex;
    flex-direction: inherit;
    align-items: center;
    padding: 0;
    padding-top: 17px;
    padding-bottom: 15px;

    &:first-child {
      border-top: 1px solid #cdcdcd;
    }

    &:last-child {
      border-bottom: 1px solid #cdcdcd;
    }
  }

  .additional-goods__inner {
    margin: 0;
    margin-right: auto;
  }

  .additional-goods__link {
    width: 162px;
    margin-right: 163px;
  }

  .additional-goods__parameter {
    margin-right: auto;
  }

  .additional-goods__volume {
    width: 133px;
    margin-right: 112px;
  }

  .additional-goods__price {
    margin: 0;
  }

  .additional-goods__gift {
    width: 245px;
    background-image: url("../../img/gift-photo-desktop@1x.jpg");
    padding: 0;
    padding-bottom: 43px;
    margin-left: auto;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;

    @media (min-resolution: 2dppx) {
      background-image: url("../../img/gift-photo-desktop@2x.jpg");
    }
  }

  .additional-goods__text {
    text-align: center;
    margin-top: 43px;
  }

  .additional-goods__button {
    width: 244px;
    display: inline-block;
  }
}
