.example {
  padding: 0 20px;
  padding-top: 30px;
  padding-bottom: 35px;
  background-color: #eaeaea;
}

.example__box--text {
  margin-bottom: 35px;
}

.example__title {
  margin-bottom: 35px;
}

.example__text {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #444444;
  margin: 0;
  margin-bottom: 25px;
  max-width: 279px;
}

.example__list {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-bottom: 4px;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}

.example__item {
  border: 1px solid #cdcdcd;
  box-sizing: border-box;
  border-radius: 3px;
  margin-bottom: 30px;
  width: 124px;
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  &:first-child {
    margin-right: auto;
  }
}

.example__number {
  font-size: 24px;
  font-weight: normal;
  text-transform: uppercase;
}

.example__description {
  position: absolute;
  top: 85%;
  z-index: 10;
  width: 55px;
  padding: 0 16px;
  margin: 0;
  font-family: "Arial", sans-serif;
  font-size: 12px;
  line-height: 12px;
  text-transform: lowercase;
  color: #444444;
  background-color: #eaeaea;
}

.example__price-food {
  margin: 0;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  font-weight: normal;
  text-align: center;
}

.example__slider {
  position: relative;
  padding-bottom: 86%;
  margin: 0 -20px;
  margin-bottom: 30px;
}

.example__inner {
  width: 100%;
  height: 100%;
  line-height: 0;
}

.example__img {
  width: 100%;
  object-fit: cover;
  position: absolute;
  left: 0;
  top: 0;
}

.example__img--after {
  display: none;
}

.example__control {
  display: flex;
  justify-content: center;
  align-items: center;
}

.example__label {
  width: 84px;
  height: 14px;
  border: 1px solid #cdcdcd;
  box-sizing: border-box;
  border-radius: 6px;
  margin: 0 15px;
  position: relative;

  &::before {
    content: "";
    width: 35px;
    height: 6px;
    background: #68b738;
    border-radius: 6px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 5px;
  }
}

.example__text-control {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}

@media (min-width: $tablet-width) {
  .example {
    padding: 0 30px;
    padding-top: 42px;
    background-color: #ffffff;
  }

  .example__title {
    margin-bottom: 64px;
  }

  .example__text {
    font-size: 16px;
    line-height: 24px;
    margin: 0;
    margin-right: 10px;
    margin-bottom: 53px;
    max-width: max-content;
  }

  .example__wrap {
    display: flex;
    align-items: center;
  }

  .example__list {
    margin: 0;
    margin-right: auto;
  }

  .example__item {
    width: 162px;
    height: 72px;
    margin: 0;

    &:first-child {
      margin-right: 42px;
    }
  }

  .example__number {
    font-size: 30px;
    line-height: 37px;
  }

  .example__description {
    font-size: 14px;
    line-height: 14px;
    width: auto;
    background-color: #ffffff;
    padding: 0 8px;
    top: 90%;
  }

  .example__price-food {
    font-size: 20px;
    line-height: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  .example__price {
    margin-bottom: 9px;
  }

  .example__box--slid {
    background-color: #eaeaea;
    margin: 0 -30px;
    position: relative;
    padding-top: 50px;
    padding-bottom: 70px;

    &::before {
      content: "";
      width: 100%;
      height: 220px;
      background-color: #ffffff;
      position: absolute;
      left: 0;
      top: 0;
      z-index: 1;
    }
  }

  .example__slider {
    display: flex;
    max-width: 768px;
    min-height: 530px;
    margin: 0 auto;
    padding: 0;
  }

  .example__inner {
    overflow: hidden;
    flex-basis: 50%;
    min-height: 100%;
    line-height: 0;
  }

  .example__img {
    position: relative;
    z-index: 10;
    display: block;
    width: inherit;
    max-width: inherit;
  }

  .example__img--before {
    object-position: 46px;
  }

  .example__img--after {
    object-position: -338px;
  }

  .example__label {
    width: 428px;
    height: 6px;
    background-color: #dcdcdc;
    border-radius: 6px;
    margin: 0 25px;
    position: relative;
    cursor: pointer;

    &::before {
      content: "";
      width: 34px;
      height: 34px;
      box-sizing: border-box;
      border-radius: 50%;
      background-color: #ffffff;
      border: 1px solid #cdcdcd;
      position: absolute;
      top: 2px;
      left: 198px;
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.16);
    }

    &::after {
      content: "";
      width: 8px;
      height: 8px;
      background-color: #68b738;
      border-radius: 50%;
      position: absolute;
      top: -2px;
      left: 211px;
    }

    &:hover::before {
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.19);
    }

    &:active::before,
    &:focus::before {
      box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
      border: 1px solid #68b738;
    }
  }

  .example__text-control {
    font-size: 20px;
    line-height: 30px;
  }
}

@media (min-width: $desktop-width) {
  .example {
    display: flex;
    padding: 0;
    position: relative;
    background-color: #f2f2f2;
    min-height: 660px;

    &::before {
      content: "";
      width: 100%;
      height: 197px;
      background-color: #ffffff;
      position: absolute;
      left: 0;
      right: 0;
      z-index: 1;
    }
  }

  .example__box {
    flex-basis: 50%;
  }

  .example__box--text {
    margin: 0;
    padding-top: 62px;
    padding-left: calc(50% - 610px);
    background-color: #f2f2f2;
  }

  .example__box--slid {
    background-color: #eaeaea;
    position: relative;
    margin: 0;
    padding: 0;
    padding-right: calc(50% - 610px);
    padding-top: 8px;
    max-width: 690px;

    &::before {
      content: none;
    }
  }

  .example__title {
    margin-bottom: 146px;
    position: relative;
    z-index: 10;
  }

  .example__text {
    margin-bottom: 70px;
    max-width: 435px;
  }

  .example__wrap {
    flex-direction: column;
    align-items: flex-start;
  }

  .example__list {
    margin-bottom: 58px;
  }

  .example__description {
    background-color: #f2f2f2;
  }

  .example__price-food {
    display: block;
  }

  .example__price {
    margin: 0;
    margin-right: 64px;
  }

  .example__slider {
    min-height: 100%;
  }

  .example__inner {
    min-height: 100%;
    height: inherit;
  }

  .example__inner--before {
    flex-basis: 59%;
    background-color: #f2f2f2;
  }

  .example__inner--after {
    flex-basis: 41%;
  }

  .example__img--before {
    object-position: 40px;
  }

  .example__img--after {
    object-position: -367px;
  }

  .example__label {
    &::before {
      content: "";
      left: 195px;
    }

    &::after {
      content: "";
      left: 208px;
    }
  }

  .example__control {
    position: absolute;
    left: 121px;
    bottom: 66px;
  }
}
