.page-main__promo {
  margin-bottom: 22px;
}

.page-main__catalog {
  margin-bottom: 28px;
}

@media (min-width: $tablet-width) {
  .page-main__programs {
    margin-bottom: 25px;
  }

  .page-main__promo {
    margin-bottom: 0;
  }

  .page-main__catalog {
    margin-bottom: 70px;
  }

  .page-main__additional-goods {
    margin-bottom: 70px;
  }
}

@media (min-width: $desktop-width) {
  .page-main__promo {
    margin-bottom: 80px;
  }

  .page-main__programs {
    margin-bottom: 51px;
  }

  .page-main__advantages {
    margin-bottom: 10px;
  }

  .page-main__catalog {
    margin-bottom: 72px;
  }

  .page-main__additional-goods {
    margin-bottom: 85px;
  }

  .page-main__order {
    margin-bottom: 42px;
  }
}
