.page-header {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 12px 20px;
  padding-bottom: 0;
}

.page-header__logo {
  margin-bottom: 17px;
}

@media (min-width: $tablet-width) {
  .page-header {
    flex-direction: row;
    padding: 25px 30px;
  }
}

@media (min-width: $desktop-width) {
  .page-header {
    @include page-wrapper;
    margin: 0;
  }

  .page-header--index {
    position: absolute;
    z-index: 100;
    width: 100%;
  }
}
