.product-card {
  border-bottom: 1px solid #ebebeb;
  padding: 20px;
  padding-top: 0;
  padding-bottom: 24.5px;
}

.product-card--all-goods {
  text-align: center;
  display: flex;
  flex-direction: column;
  padding-top: 35px;
}

.product-card__wrap {
  display: flex;
}

.product-card__link {
  display: block;
  text-align: center;
  letter-spacing: 1px;
}

.product-card__link--image {
  line-height: 0;
}

.product-card__link--all {
  background-color: #f2f2f2;
  color: #444444;
}

.product-card__info {
  width: 140px;
  margin-left: auto;
  padding-top: 20px;
}

.product-card__name {
  font-size: 16px;
  line-height: 20px;
  font-weight: normal;
  text-decoration: none;
  text-transform: uppercase;
  color: #222222;
  display: block;
  padding-right: 50px;
  margin-bottom: 13px;
}

.product-card__name--all {
  position: relative;
  padding: 0;
  padding-top: 44px;
  margin: 0;
  margin-bottom: 8px;

  &::before {
    content: "";
    background-image: url("../../img/icon-plus-mobile.svg");
    background-repeat: no-repeat;
    position: absolute;
    left: 50%;
    top: -10px;
    transform: translateX(-50%);
    width: 30px;
    height: 30px;
  }
}

.product-card__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.product-card__item {
  display: flex;
}

.product-card__desc {
  font-family: "Arial", sans-serif;
  font-size: 12px;
  line-height: 16px;
  color: #444444;
  margin: 0;

  &:first-child {
    margin-right: auto;
  }
}

.product-card__desc--price {
  text-transform: uppercase;
}

.product-card__desc--all {
  margin-bottom: 21px;
}

@media (min-width: $tablet-width) {
  .product-card {
    padding: 20px 36px;
    padding-bottom: 38px;
    background-color: #f2f2f2;
    position: relative;
  }

  .product-card--all-goods {
    background-color: #ffffff;
    box-sizing: border-box;
    border: 2px solid #f2f2f2;
  }

  .product-card__wrap {
    flex-direction: column;
    align-items: center;
    margin-bottom: 33px;
  }

  .product-card__link--image {
    position: absolute;
    bottom: 302px;
  }

  .product-card__info {
    margin: 0;
    text-align: center;
    width: 100%;
  }

  .product-card__name {
    max-width: 150px;
    padding: 0;
    margin: 0 auto;
    margin-top: 122px;
    margin-bottom: 20px;
    font-size: 20px;
    line-height: 24px;
  }

  .product-card__name--all {
    margin-top: 140px;

    &::before {
      content: "";
      background-image: url("../../img/icon-plus.svg");
      background-repeat: no-repeat;
      position: absolute;
      left: 50%;
      top: -90px;
      transform: translateX(-50%);
      width: 60px;
      height: 60px;
    }
  }

  .product-card__item {
    border-bottom: 1px solid #cdcdcd;
    padding-bottom: 7px;
    margin-bottom: 8px;

    &:last-child {
      margin: 0;
    }
  }

  .product-card__desc {
    font-size: 16px;
  }

  .product-card__desc--all {
    max-width: 170px;
    margin: 0 auto;
    margin-bottom: auto;
    line-height: 19px;
  }
}

@media (min-width: $desktop-width) {
  .product-card {
    padding: 20px 37px 40px;
  }

  .product-card__link--image {
    bottom: 310px;
  }

  .product-card__name {
    margin: 125px auto 22px;
    line-height: 21px;
  }

  .product-card__wrap {
    margin-bottom: 35px;
  }

  .product-card__name--all {
    margin-top: 140px;
  }

  .product-card__name--all::before {
    top: -110px;
  }

  .product-card__link--all {
    padding: 11px 20px;
  }
}
