.wrap-line {
  @media (min-width: $tablet-width) {
    position: relative;

    &::before {
      content: "";
      width: 100%;
      height: 2px;
      background-color: #68b738;
      position: absolute;
      left: 0;
      top: 20px;
      z-index: -1;
    }
  }
}
